/**
 * partials/main
 * ---
 * Main
 */

img {
  width: auto;
  height: auto;
}

html {
	background-color: $tess-mid-pink !important;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

body {
	background-color: $tess-mid-pink;
	display: unset;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $tess-orange;
	text-decoration: none;
	&:hover {
		color: $tess-orange;
		text-decoration: none;
	}
}

h1 {
	font-size: 35px !important;
}

.tess-light-pink-bg {
	background-color: $tess-light-pink;
}

.tess-yellow-bg {
	background: $tess-yellow;
}

.tess-orange-bg {
	background: $tess-orange;
}

.tess-indigo-bg {
	background: $tess-indigo;
}

.tess-green-bg {
	background: $tess-green;
}

.tess-dark-blue-bg {
	background: $tess-dark-blue;
}

.tess-sky-blue-bg {
	background: $tess-sky-blue;
}

.tess-violet-bg {
	background: $tess-violet;
}

.tess-red-bg {
	background: $tess-red;
}

.tess-light-blue-bg {
	background: $tess-light-blue;
}

.tess-dark-pink-bg {
	background: $tess-dark-pink;
}

.tess-mid-pink-bg {
	background: $tess-mid-pink;
}

.tess-light-pink-bg {
	background: $tess-light-pink;
}

.tess-yellow {
	color: $tess-yellow;
}

.tess-orange {
	color: $tess-orange;
}

.tess-indigo {
	color: $tess-indigo;
}

.tess-green {
	color: $tess-green;
}

.tess-dark-blue {
	color: $tess-dark-blue;
}

.tess-sky-blue {
	color: $tess-sky-blue;
}

.tess-violet {
	color: $tess-violet;
}

.tess-red {
	color: $tess-red;
}

.tess-light-blue {
	color: $tess-light-blue;
}

.tess-dark-pink {
	color: $tess-dark-pink;
}

.tess-mid-pink {
	color: $tess-mid-pink;
}

.tess-light-pink {
	color: $tess-light-pink;
}

.marquee_container {
	padding-top: 90px;
}

.marquee {
  overflow: hidden;
}

.marquee a {
  padding-right: 15px;
	text-decoration: none;
}

.marquee span {
  text-decoration: none;
	font-family: $rohzaone !important;
	font-size: 1.3rem;
}

.box {
  background-color: white !important;
  border-radius: 0 !important;
  box-shadow: none !important;
	padding: 3.25rem !important;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 30%;

}

.grid-item {
  float: left;
  transform: translate(0);
}

.gutter-sizer { width: 4%; }

.grid-item--width2 { width: 66%; }

.grid-item--width3 {
  width: 100%;
}

.grid-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}

.second-grid:after {
  content: '';
  display: block;
  clear: both;
}

.second-grid-sizer,
.second-grid-item {
  width: 30%;

}

.second-grid-item {
  float: left;
  transform: translate(0);
}

.second-gutter-sizer { width: 4%; }

.second-grid-item--width2 { width: 66%; }

.second-grid-item--width3 {
  width: 100%;
}

.second-grid-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	display: block;
}

.recipe_title {
	position: absolute;
  bottom: -50px;
	color: $tess-light-blue;
	font-family: $rohzaone !important;
}

.recipe_arrow {
	width: 25px;
}

.swiper-container {
  width: 100vw;
  height: 50vh;
}

.swiper-slide a {
	color: $tess-light-blue;
}

#overlay {
  display: none;
	overflow: auto;
  z-index: 83429489!important;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#menu-overlay {
  display: none;
	overflow: auto;
  z-index: 83429489!important;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.slide_picture img {
	height: 275px;
}

.terms a {
	color: $tess-light-blue;
	font-family: $rohzaone !important;
	line-height: 0;
}

label  {
	color: $tess-light-blue;
	font-family: $rohzaone !important;
	font-size: 35px;
	line-height: 115%;
}


.dot-separate {
	font-size: 35px;
	line-height: 115%;
}

.recipes:after {
  content: '';
  display: block;
  clear: both;
}

.recipe-item { width: 30%; }
.recipe-sizer { width: 30%; }
.recipe-gutter { width: 5%; }

section {
	padding-top: 68px;
}

.events_cont {
	padding-top: 50px;
}

.stick a {
  color: $tess-light-blue;
}

.left_arrow {
  transform: rotate(180deg);
  height: 13px;
  vertical-align: middle;
  margin-right: 20px;
}

.bottom_arrow {
  transform: rotate(90deg);
  height: 13px;
  vertical-align: middle;
}


.next_event a {
  color: $tess-light-blue;
  font-family: $rohzaone !important;
}

.about_absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
