/**
 * partials/footer
 * ---
 */

footer {
  font-family: $rohzaone !important;
}

.credits {
  font-size: 11px;
  text-align: right !important;
}

input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $tess-orange;
  font-family: $rohzaone !important;
  color: $tess-orange;
}

input:focus, textarea:focus, select:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
    border: 0;
    font-family: $rohzaone !important;
    color: $tess-orange;
}

#horizontal-style {
  display: table;
  width: 100%;
  margin-top: 13px;
}

#horizontal-style li {
  display: table-cell;
}

#horizontal-style a {
  font-family: $rohzaone !important;
  color: $tess-orange;
  display: block;
  text-align: right;
  margin: 0 5px;
}

.search-submit {
  border-bottom: 1px solid #fb6528;
  margin-left: -5px;
  position: absolute;
  margin-top: -1px;
  line-height: 473%;
  cursor: pointer;
}

.search-input {
  line-height: 300%;
  font-size: 25px;
}

.js-trigger-overlay {
  cursor: pointer;
}
