/**
 * partials/header
 * ---
 */

header {
  background-color: $tess-mid-pink;
}

.item {
  margin-top: 9px;
}

.separate_border {
  width: 100%;
  height: 3px;
  display: block !important;
}

.burger-menu {
  width: 25px;
  cursor: pointer;
}

.burger-menu-close {
  width: 15px;
  cursor: pointer;
}
