/**
 * modules/fonts
 * ---
 * Declare fonts here
 */


 @font-face {
     font-family:"HelveticaNeue-Roman";
     src:url("//duezero.uno/tess/wp-content/themes/tessward/fonts/HelveticaNeue-Roman.woff2") format("woff2"),
     url("//duezero.uno/tess/wp-content/themes/tessward/fonts/HelveticaNeue-Roman.woff") format("woff"),
     url("//duezero.uno/tess/wp-content/themes/tessward/fonts/HelveticaNeue-Roman.otf") format("opentype");
     font-style:normal;font-weight:400;
 }

 $rohzaone: "Rozha One", serif;
 $helvetica: "HelveticaNeue-Roman", sans-serif;

 body {
   font-family: $helvetica;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: $rohzaone !important;
 }

 .tess_navigation {
   font-family: $rohzaone !important;
   color: $tess-orange;
   font-size: 1.3rem;
 }

.logo {
  font-size: 2rem;
}
