@media all and (min-width: 1024px) {

  .hide-desktop {
    display: none;
  }

}

@media all and (min-width: 768px) and (max-width: 1024px) {

  .hide-desktop {
    display: none;
  }

  .grid-sizer,
  .grid-item {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .grid-item--width2 {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .second-grid-sizer,
  .second-grid-item {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .second-grid-item--width2 {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

}

@media all and (min-width: 480px) and (max-width: 768px) {

  .hide-mobile {
    display: none;
  }

  .grid-sizer,
  .grid-item {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .grid-item--width2 {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .second-grid-sizer,
  .second-grid-item {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .second-grid-item--width2 {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

}

@media all and (max-width: 480px) {

  .hide-mobile {
    display: none;
  }

  #horizontal-style li {
    display: block !important;
    padding: 15px 0;
  }

  #horizontal-style a {
    text-align: center !important;
  }

  .swiper-container {
    height: 75vh !important;
  }

  .grid-sizer,
  .grid-item {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .grid-item--width2 {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .second-grid-sizer,
  .second-grid-item {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .second-grid-item--width2 {
    width: 100% !important;
    left: 0 !important;
    margin: 20px 0;
  }

  .slide_picture img {
    margin-bottom: 20px;
  }

}
