/**
 * modules/variables
 * ---
 */

/**
 * Colors
 */

$selection-bg: #04A4CC;
$tess-light-pink: #FFF3F4;
$tess-mid-pink: #F9CDCE;
$tess-dark-pink: #F37992;
$tess-light-blue: #799CED;
$tess-orange: #FB6528;
$tess-yellow: #F9AB2F;
$tess-indigo: #488395;
$tess-green: #11824A;
$tess-dark-blue: #071C87;
$tess-sky-blue: #177FBC;
$tess-violet: #B691CC;
$tess-red: #E82351;

/**
 * Grid
 */

$wrapper-width: 1280px;

$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;

.vh-15 {
  height: 135px;
}

.f15 {
  font-size: 15px;
}

.f13 {
  font-size: 13px;
}

.f11 {
  font-size: 11px;
}

.f9 {
  font-size: 9px;
}
